@import 'libs/bootstrap-reboot.scss';
@import 'base/variables';
@import 'base/fonts';
@import 'base/mixins';
@import 'base/animate';

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

@media (max-width: 1150px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.divider {
    width: 60px;
    height: 3px;
    background-color: $main_color;
    margin-top: 25px;
    margin: 0 auto;
}

@import 'blocks/title/title';
@import 'blocks/title/title_media';
@import 'blocks/btns';
@import 'blocks/promo/promo';
@import 'blocks/promo/promo_media';
@import 'blocks/side-panel';
@import 'blocks/about/about';
@import 'blocks/about/about_media';
@import 'blocks/experience/experience';
@import 'blocks/experience/experience_media';
@import 'blocks/skills/skills';
@import 'blocks/skills/skills_media';
@import 'blocks/works/works';
@import 'blocks/works/works_media';
@import "blocks/price/price";
@import "blocks/price/price_media";
@import 'blocks/contacts/contacts';
@import 'blocks/contacts/contacts_media';
@import 'blocks/privacy';