.side-panel {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    left: -100px;
    transform: rotate(-90deg) translateY(-50%);

    &__text {
        margin-right: 15px;
        font-weight: 700;
        font-size: 16px;
        color: #000000;
    }

    &__divider {
        margin-right: 15px;
        width: 70px;
        height: 1px;
        background: #000;
    }

    &__icon {
        text-decoration: none;
        color: #000;
        transform: rotate(190deg);

        &:hover {
            color: #000;
        }

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}