@import "base/variables";
@import "base/fonts";
@import "base/normalize";

* {
    font-family: 'MuseoSansCyrl', sans-serif;
    box-sizing: border-box;
}

.container {
    padding-left: calc(50% - 470px);
    padding-right: calc(50% - 470px);
}

@media (max-width: 955px) {
    .container {
        padding-left: 4px;
        padding-right: 4px;
    }
}

@import "block/promo";
@import "block/header";
@import "block/button";
@import "block/benefits";
@import "block/consultation";
@import "block/forms";
@import "block/titles";
@import "block/carousel";
@import "block/catalog";