@import "base/variables";
@import "base/fonts";
@import "base/normalize";

* {
    font-family: 'MuseoSansCyrl', sans-serif;
}

.container {
    width: 940px;
    margin: 0 auto;
}

@import "block/promo";
@import "block/header";
@import "block/button";