@media (max-width: 767px) {
    .call {
        &__form {
            grid-template: repeat(3, 45px) / 1fr;
            row-gap: 20px;
            padding: 65px 20px 50px 20px;
        }
    }
}

@media (max-width: 575px) {
    .call {
        &__form {
            grid-template: repeat(3, 45px) / 1fr;
            row-gap: 20px;
            padding: 65px 20px 50px 20px;
        }

        &__header {
            font-size: 17px;
        }
    }
}