@keyframes pulse {
    from {
        transform: scale(1);
    }

    50% {
        filter: drop-shadow(16px 16px 20px #000);
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

@keyframes errorColor {
    from {
        color: black;
    }

    25% {
        color: red;
    }

    75% {
        color: red;
    }

    to {
        color: black;
    }
}