.title {
    color: #0d0d0d;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    &_left {
        color: #ffffff;
        text-align: left;
    }
}

@media (max-width: 575px) {
    .title {
        text-align: center;
        font-size: 25px;
    }
}