@media (max-width: 1300px) {
    .promo {
        .side-panel {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .promo {
        &__header {
            max-width: 450px;
            line-height: 39px;
        }
    }
}

@media (max-width: 575px) {
    .promo {
        &__btns {
            margin-top: 32px;
        }

        &__menu {
            width: 250px;
            padding-top: 70px;

            ul {
                padding-left: 0;
            }

            li {
                margin-left: 55px;
            }
        }

        &__links {
            bottom: 140px;
        }

        &__hamburger {
            right: 25px;
        }
    }
}