.promo {
    position: relative;
    min-height: 100vh;
    padding: 206px 0 362px 0;
    background: url("../img/promo/macbook.jpg") center center/cover no-repeat;

    &__header {
        margin-top: 9px;
        max-width: 535px;
    }

    .title,
    .btn,
    .side-panel__text,
    .side-panel__icon {
        color: #ffffff;
    }

    &__btns {
        margin-top: 45px;

        :nth-child(1) {
            margin-right: 44px;
        }
    }

    &__hamburger {
        position: absolute;
        right: 30px;
        top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        cursor: pointer;

        span {
            display: none;
            width: 30px;
            height: 3px;
            background-color: #fff;

            &.promo__hamburger_long {
                margin-top: 6px;
                width: 36px;
                margin-bottom: 6px;
            }
        }
    }

    &__overlay {
        transition: all 1s;
        position: fixed;
        top: 0;
        z-index: -10;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.75);
        opacity: 0%;

        &.active {
            z-index: 10;
            left: 0;
            transition: all 1s;
            opacity: 100%;
        }
    }

    &__menu {
        width: 345px;
        height: 100%;
        background: $main-color;
        position: relative;
        padding-top: 140px;
        z-index: 10;
        left: -100%;
        transition: all 1s;

        &.active {
            left: 0;
            transition: all 1s;
        }

        li {
            list-style-type: none;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            margin-left: 50px;
            position: relative;
            margin-top: 15px;

            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                border: 1px solid #000;
                left: -35px;
                top: 9px;
                transition: all 0.5s;
            }

            &:hover {
                &:before {
                    background: #fff;
                }
            }

            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }

    &__close {
        position: absolute;
        width: 20px;
        height: 2px;
        background: #000;
        top: 25px;
        right: 25px;
        transform: rotate(45deg);

        &:before {
            content: '';
            position: absolute;
            width: 20px;
            height: 2px;
            background: #000;
            transform: rotate(90deg);
        }

        &-wrapper {
            position: absolute;
            cursor: pointer;
            width: 18px;
            height: 18px;
            transform: rotate(45deg);
            top: -8px;
            left: 1px;
        }
    }

    &__links {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
    }
}